* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Trajan_Pro_Bold";
  src: url("../fonts/Trajan_Pro_Bold.ttf") format("truetype");
}

:root,
html {
  font-family: Roboto, "Times New Roman", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #e42327;
  --colorSecondary: #03045e;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --theme_bg: #feefe5;
}

.theme_bg {
  background-color: var(--theme_bg);
}

/* Navbar Starts */
header {
  height: 80px;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}
@media screen and (min-width: 1000px) {
  .mobileview {
    display: none;
  }
}

/* Navbar Ends */

main {
  margin-top: 80px;
}

/* Slider Section */
.carousel {
  overflow: hidden !important;
  max-height: calc(100vh - 70px);
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/mobile_banner01.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/mobile_banner02.jpg");
  }
}

/* Slider Section Ends */

/* Overview Section */
.overview-para {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

/* Overview Section Ends */

/* Gallery Section */

#gallery_section .row {
  --bs-gutter-y: 1.5rem;
}

.gall {
  border: 2px solid var(--colorPrimary);
  /* border-radius: 20px; */
  padding: 7px;
  background-color: #f1f1f1;
  box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
  /* box-shadow: rgba(100, 100, 111, 0.726) 0px 7px 29px 0px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.gall img {
  aspect-ratio: 4/3;
  border: 2px dotted var(--colorPrimary);
}

/* Gallery Section Ends */

/* Configuration */

/* #configuration_section .row-cols-1 > * {
  display: flex;
  justify-content: center;
} */

#configuration_section .Price-card {
  /* margin: 0 2rem 1rem 0; */
  padding: 0 0 1rem 0;
  /* width: 18rem; */
  background: #fff;
  color: #444;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
  overflow: hidden;
  transition: all 0.1ms ease-in-out;
  margin-top: 1.5rem;
}

#configuration_section .Price-card:hover {
  transform: scale(1.02);
}

#configuration_section .price-header {
  height: 8rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7em;
  padding: 1rem 0;
  color: #fff;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

#configuration_section .price-body {
  padding: 0.5rem 0;
}

#configuration_section .price-body h2 {
  font-size: 2rem;
  font-weight: 700;
}

#configuration_section .price-header,
#configuration_section .btn {
  background: linear-gradient(
    135deg,
    var(--colorPrimary),
    var(--colorSecondary)
  );
}

#configuration_section .card-element-hidden {
  display: none;
}
.pro-button {
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  text-transform: capitalize;
}

/* Amenities */
.icon_style {
  font-size: 2em;
  color: var(--colorPrimary);
  padding-inline: inherit;
}
.amenities_rows {
  text-align: left;
}
.amenities_text {
  font-size: 1.2em;
}

.owl-nav {
  display: none;
}

.ami_img img {
  height: 200px;
}

.ami_img figure {
  min-width: 100%;
  max-width: 100%;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.ami_img figure img {
  width: 100%;
}

.ami_img figure img:hover {
  transform: scale(1.1);
}

.ami_img figcaption {
  padding: 10px;
  position: absolute;
  width: 70%;
  bottom: 0;
  z-index: 1;
  background: var(--colorPrimary);
}
.ami_img figcaption h3 {
  font-weight: 100;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 1.2em;
  color: var(--colorWhite);
}

/* Location */
#location_section {
  margin: 20px;
}

.loc-bor {
  background-color: var(--colorPrimary);
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px 0px;
  /* box-shadow: 3px 3px var(--colorHalfBlack); */
}

.loc-bor p {
  margin: 1em;
  font-size: 1em;
  color: var(--colorWhite);
  font-weight: bold;
  text-transform: capitalize;
}

.loc-bor p i {
  /* margin: 1em; */
  /* font-size: 1em; */
  color: var(--colorSecondary);
  /* font-weight: bold; */
}

.fa-solid {
  padding: 0px 10px;
}

/* About */
#about_section {
  background-color: #00354a;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 970px; */
  background-attachment: fixed;
  padding: 0 !important;
}

#about_section .sub-heading {
  color: var(--colorPrimary);
  font-size: 1.5em;
}

#about_section .sub-heading {
  letter-spacing: 3.5px;
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
  color: var(--colorWhite);
}

.form-label {
  display: none;
}
.inputStyle {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
}
.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorPrimary) !important;
  border: none !important;
  color: var(--colorWhite);
}
.pro-btn,
.pro-btn:hover,
.pro-btn:focus-visible,
.pro-btn:active {
  background-color: var(--colorPrimary) !important;
  border: none !important;
  color: var(--colorWhite);
}
